<!DOCTYPE html>
	<html>
		<head>
			<% include ../partials/header.ejs %>
		</head>
		<body>
	<% include ../partials/nav.ejs %>
		 <div id="u4" class="ax_default heading_1">
        
        <div id="u4_text" class="text ">
          <p><span>Product View: Collection Name</span></p>
        </div>
      </div>
	  <div class="left-sec">
		<div class="search"><input type="text" class="form-control" placeholder="Search"></div>
		<div class="uncheck"><a class="btn btn-primary" href="javascript:void(0);" >Check/Uncheck All</a></div>
	  </div>
			<form id="create_collection" action="/" name="form" method="post">
				<div class="col-lg-12 input-upload-text">
				<div class="upload-input">
					<input  class="btn btn-primary "  type="submit" name="upload" value="Upload Checked to"/>
				</div>
				
				
				<div class="upload-btn">
					<select class="form-control" name="store">
						<option value="tmall">Tmall</option>
						<option value="shopify">Shopify</option>
						<option value="cafe24">Cafe24</option>
					</select>
				</div>
				</div>
			</form>
		
			<div class="container">
				
				
					<table id = "example" class="table table-bordered">
					<thead>
			  <tr>
				<th></th>
				<th >SPU</th>
				<th >SKU</th>
				<th >Product Name</th>
				<th >Date Created</th>
				<th >Date Modified</th>
				<th >Image</th>
				<th >Image</th>
			  </tr>
			</thead>
			<tbody>
		<% for(let i = 0; i < data.length; i++) { %>
		<% var pDetail =  JSON.parse(data[i].product_details); %>
		<% for(let k = 0; k < pDetail.length; k++) { %>
		
					<tr>
						<td><input type="checkbox" name="check[]" value=""/></td>
						<td><%=  pDetail[k].spu %></td>
						<td><%=  pDetail[k].sku %></td>
						<td><%=  pDetail[k].product_name %></td>
						<td><%=  pDetail[k].created_date %></td>
						<td><%=  pDetail[k].modified_date %></td>
						<td id="<%=  pDetail[k].spu %>"></td>
						<td><a onclick="addImage('<%= dataBase%>','<%=  pDetail[k].spu %>');" href="javascript:void(0);" class="btn btn-primary">Add Image</a></td>
					</tr>
		
		
			<%  } %>
			<%  } %>   
		  </tbody>
					</table>
				
				
			</div>
			
<script>
		function addImage(dataBase, spu){
	
	  $.ajax({ 
		 url: "/add_image/13MAGJP301BK/" + dataBase, 
		type: "GET", 
		cache:false,
		contentType:false,
		processData :false,
		success: function(result){
			var appendData = '<img src="' + result.resources.url + '"/>';
			
			alert(JSON.stringify(result));
			alert(appendData);
			console.log(JSON.stringify(result));
			$("#"+spu).html(appendData);


			return false;
		}

	});
	
	}	
$(document).ready(function() {
			<!-- $('table').SetEditable(); -->
			<!-- $('#example').dataTable();  -->
			
		
 
	 $("#create_collection").validate({
		rules: {
			col_name: "required",
		},
		messages: {
			col_name: "Please enter collection name.",
		},
		submitHandler: function(form) {
			form.submit();
		}
	});
	
});
		
</script>
			
		</body>
	</html>


